In [1]:
#Lists in python

In [2]:
x = [2, 'a', 4.5, False]
print(x)

[2, 'a', 4.5, False]

In [3]:
print(type(x[0]))
print(type(x[1]))
print(type(x[2]))
print(type(x[3]))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [4]:
print(list(range(10)))
print(list(range(1,5)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [6]:
myList = [3.44, 44.34, 23.23, 32.1]
print(myList)

[3.44, 44.34, 23.23, 32.1]

In [7]:
print(3.44 in myList)
print(3.5 in myList)

True
False

In [8]:
#To create an empty list
myList=list()
print(myList)

[]

In [9]:
#To create an empty list
myList=[]
print(myList)

[]

In [10]:
myList=[]
myList.append(10)
myList.append(20)
myList.append(30)
myList.append(40)
myList

[10, 20, 30, 40]

##### Extract the integer part out of each element in myList

In [11]:
myList1 = [] 
myList1.append( int(myList[0]))
myList1.append( int(myList[1]))
myList1.append( int(myList[2]))
myList1.append( int(myList[3]))
print(myList1)

[10, 20, 30, 40]

In [24]:
iter_myList = iter(myList)

In [21]:
#Print the first element
next(iter_myList)

10

In [22]:
print(next(iter_myList))
print(next(iter_myList))
print(next(iter_myList))

20
30
40

In [26]:
#Using for loops
for element in myList:
    print(element)

10
20
30
40

In [27]:
#using iterators with for loop
iter_myList = iter(myList)
for element in myList:
#    Perform your computation with each element.
        print(next(iter_myList))

10
20
30
40

In [28]:
myList2 = []
for each_element in myList:
    myList2.append(int(each_element))
print(myList2)

[10, 20, 30, 40]

In [30]:
myList3 = [int(each_element) for each_element in myList]
print(myList3)

[10, 20, 30, 40]

In [32]:
#Slicing a list
#list[inclusive:exclusive]
a= [1,2,3,4,5]
print(a[1:3]) #Print the second and third elements
print(a[3:] )
print(a[:5])
print(a[-1])

[2, 3]
[4, 5]
[1, 2, 3, 4, 5]
5

In [33]:
#List operations
#concatenate two lists
a = [1,"hi",2,2.0,False]
b = [2,"5",7,9,True]
c = a+b
print(c)

[1, 'hi', 2, 2.0, False, 2, '5', 7, 9, True]

In [34]:
#repeat the elements n times
print(a*3)

[1, 'hi', 2, 2.0, False, 1, 'hi', 2, 2.0, False, 1, 'hi', 2, 2.0, False]

In [35]:
#Sorting list
x = [7,6,4,5,90,75,2,1]
x.sort()
print(x)

[1, 2, 4, 5, 6, 7, 75, 90]

In [36]:
x = [7,6,4,5,90,75,2,1]
#add a new elements using append
y=["Hello","how","are","you"]
x.append(y) # y will be apended as a list towards the end
print(x)
len(x)

[7, 6, 4, 5, 90, 75, 2, 1, ['Hello', 'how', 'are', 'you']]

9

In [37]:
myList.append(40)
x = [7,6,4,5,90,75,2,1]
#add a new elements using extend
y=["Hello","how","are","you"]
x.extend(y) #add the elements of the new list towards the end
print(x)
len(x)

[7, 6, 4, 5, 90, 75, 2, 1, 'Hello', 'how', 'are', 'you']

12

In [38]:
myList=[]
myList.append(10)
myList.extend([20,25])
myList.append(30)
myList.append(40)
myList

[10, 20, 25, 30, 40]

In [39]:
x = [2, 3.1, 4]
if x[0] == 2:
    print('x[0] is 2')

x[0] is 2

In [41]:
if x[1] < 2:
    print('less than 2')
elif x[1] > 4:
    print('greater than 4')
else:
    print('between 2 and 4')

between 2 and 4

# List comprehension

In [42]:
wordList = ["India","Australia","USA","France"]
first3Letters=[]
for word in wordList:
    first3Letters.append(word[:3].upper())
first3Letters

['IND', 'AUS', 'USA', 'FRA']

In [43]:
#[action for var in list]
wordList = ['INDIA', 'AUSTRALIA', 'USA', 'FRANCE']
first3Letters = [ word[:3].upper() for word in wordList]
print(first3Letters)

['IND', 'AUS', 'USA', 'FRA']

In [44]:
x = [3, 2, 4, 8]
[elem * 2  if elem % 2 == 0 else  elem * 3 for elem in x]

[9, 4, 8, 16]

In [46]:
[elem * 2  for elem in x  if elem % 2 == 0]

[4, 8, 16]

In [47]:
x = [2, 3, 5, 16]
[elem for elem in x if elem % 2 == 0]

[2, 16]

In [48]:
x = [2, 3, 5, 16]
[elem**3 for elem in x if elem % 2 == 0]

[8, 4096]

# list comprehension assignment

In [49]:
num = [5,4,7,9,12,15,22,75,100,107]
# 1. Form a list by dividing every element by 2
print([ elem/2 for elem in num])
# 2. Form a list for all elements divisible by 5 by finding the square of the number
print([ elem**2 for elem in num if elem % 5 ==0])
#3. Form a  a list of all elements such that dividing even numbers by 2 and odd numbers by 3
print([elem/2 if elem%2==0 else elem/3 for elem in num])
#4. For a list of all even numbers by multiplying by itself
print([elem*elem for elem in num if elem%2 ==0])
#5. For all 3 digit number divide the numebr by 2
print([elem/2 for elem in num if len(str(elem)) == 3])

[2.5, 2.0, 3.5, 4.5, 6.0, 7.5, 11.0, 37.5, 50.0, 53.5]
[25, 225, 5625, 10000]
[1.6666666666666667, 2.0, 2.3333333333333335, 3.0, 6.0, 5.0, 11.0, 25.0, 50.0, 35.666666666666664]
[16, 144, 484, 10000]
[50.0, 53.5]

In [51]:
# zipping two lists, creating tuples from lists
x=[11,12,13]
y=[21,22,23]
print(list(zip(x,y)))

[(11, 21), (12, 22), (13, 23)]

In [52]:
#Creating a cartesian product of two lists
import itertools as itr
list(itr.product(x,y))

[(11, 21),
 (11, 22),
 (11, 23),
 (12, 21),
 (12, 22),
 (12, 23),
 (13, 21),
 (13, 22),
 (13, 23)]

In [ ]:
# Range
print(list(range(10)))
print(list(range(1,5)))
print(list(range(1,10,2)))

In [53]:
#deleting elements from a list by specifying their index
t = ['a', 'b', 'c','d','e','f']
t.pop(2) #specify the index of the element to be removed
print(t)
#try what happens pop()

['a', 'b', 'd', 'e', 'f']

In [54]:
#deleting elements from a list by specifying their index
t = ['a', 'b', 'c','d','e','f']
del t[1] #specify the index of the element to be removed
#you can also perform del t[1:5]
print(t)

['a', 'c', 'd', 'e', 'f']

In [55]:
#deleting elements from a list by specifying the value
t = ['a', 'b', 'c','d','e','f']
t.remove('d')
print(t)

['a', 'b', 'c', 'e', 'f']

In [56]:
# lists are mutable
t = ['a', 'b', 'c','d','e','f']
t[1] = 55
print(t)

['a', 55, 'c', 'd', 'e', 'f']

In [65]:
age = [10,20,30,40,50]
new_age = age
new_age

[10, 20, 30, 40, 50]

In [66]:
age[1] = 45
age

[10, 45, 30, 40, 50]

In [67]:
new_age

[10, 45, 30, 40, 50]

In [68]:
print(id(age))
print(id(new_age))
#Both age and new age refer to the same memory location

1938240498696
1938240498696

In [69]:
del age
print(new_age)

[10, 45, 30, 40, 50]

In [75]:
age = [10,20,30,40,50]
new_age=age.copy()

In [74]:
print(id(age))
print(id(new_age))

1938240498568
1938240498568

In [64]:
age[4] = 90
print(age)
print(new_age)

[10, 20, 30, 40, 90]
[10, 20, 30, 40, 50]