In [1]:
import pandas as pd
import numpy as np

In [2]:
pandas_series = pd.Series([4, 8, 8.1, -4])
pandas_series

0    4.0
1    8.0
2    8.1
3   -4.0
dtype: float64

In [3]:
pandas_series = pd.Series([4, 8, 8.1, -4], index = ["a", "c", "b", "d"])
pandas_series

a    4.0
c    8.0
b    8.1
d   -4.0
dtype: float64

In [4]:
pandas_series[2]

8.0999999999999996

In [5]:
pandas_series [pandas_series < 5 ]

a    4.0
d   -4.0
dtype: float64

In [6]:
pandas_series[pandas_series > 0]

a    4.0
c    8.0
b    8.1
dtype: float64

In [7]:
#series from dictionary

dictionary = {"a":"hi","b":5.4,"c":-9.4,"d":12}
s=pd.Series(dictionary)
print(s)

a     hi
b    5.4
c   -9.4
d     12
dtype: object

In [8]:
s[{"a","c"}]

a     hi
c   -9.4
dtype: object

In [9]:
data = {"date" : [ "December,2014", "December, 2013","December, 2012","December,2011"], "global_temp": [0.87,0.74,0.65,0.63]
       }
dataframe = pd.DataFrame(data)
dataframe

             date  global_temp
0   December,2014         0.87
1  December, 2013         0.74
2  December, 2012         0.65
3   December,2011         0.63

In [10]:
pd.DataFrame(dataframe,columns = ["global_temp","date"])

   global_temp            date
0         0.87   December,2014
1         0.74  December, 2013
2         0.65  December, 2012
3         0.63   December,2011

In [11]:
print(dataframe.date)
print(dataframe['date'])

0     December,2014
1    December, 2013
2    December, 2012
3     December,2011
Name: date, dtype: object
0     December,2014
1    December, 2013
2    December, 2012
3     December,2011
Name: date, dtype: object

In [12]:
dataframe['date'].values

array(['December,2014', 'December, 2013', 'December, 2012', 'December,2011'], dtype=object)

In [13]:
#Dataframe : viewing Data.

dataframe = pd.DataFrame(np.random.randn(20,5), 
                         columns = ['A', 'B', 'C', 'D', 'E'])

In [14]:
print(dataframe.head())

          A         B         C         D         E
0  1.199257  1.668821  0.892761  0.336656  0.803638
1 -0.608212  2.014369  0.300751 -0.657201 -0.277371
2 -1.447415 -0.337868  0.508073  1.199640 -0.995777
3 -0.076001  0.708811  0.477218  1.620855  0.333582
4  1.101881 -2.734863  1.242558 -0.651159  0.158203

In [18]:
print(dataframe.tail())

           A         B         C         D         E
15  0.029522  0.665544 -0.218997 -0.224870 -0.466611
16  0.177254  0.223106  0.461751  0.731037  0.099566
17 -0.144972 -1.079199  0.009433 -0.571896  0.447541
18  0.510390  0.406754 -0.407046 -0.524451  1.220601
19 -0.311083  1.127887  1.444417  0.706401 -1.048960

In [19]:
print(dataframe.describe())

               A          B          C          D          E
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.329818   0.054277   0.274430   0.124130  -0.090238
std     0.838223   1.184932   0.823484   0.876490   0.774672
min    -2.119016  -2.734863  -2.284196  -1.345258  -1.079871
25%    -0.658979  -0.631512  -0.047674  -0.591712  -0.683612
50%    -0.253583   0.352158   0.466658   0.033617  -0.064219
75%     0.066455   0.718724   0.717537   0.740995   0.344101
max     1.199257   2.014369   1.444417   1.796426   1.583935

In [20]:
print(dataframe.sort_values(by='C').head())

           A         B         C         D         E
13 -0.811278 -1.012940 -2.284196  1.796426  0.375659
9  -0.196082 -0.598273 -0.589360  0.253644 -0.536649
7  -1.630138  1.087060 -0.524783 -0.186411  0.224673
18  0.510390  0.406754 -0.407046 -0.524451  1.220601
15  0.029522  0.665544 -0.218997 -0.224870 -0.466611

In [21]:
print(dataframe.sort_index(ascending = False).head())

           A         B         C         D         E
19 -0.311083  1.127887  1.444417  0.706401 -1.048960
18  0.510390  0.406754 -0.407046 -0.524451  1.220601
17 -0.144972 -1.079199  0.009433 -0.571896  0.447541
16  0.177254  0.223106  0.461751  0.731037  0.099566
15  0.029522  0.665544 -0.218997 -0.224870 -0.466611

In [22]:
print(dataframe['A'].head())

0    1.199257
1   -0.608212
2   -1.447415
3   -0.076001
4    1.101881
Name: A, dtype: float64

In [23]:
print(dataframe[1:4])

          A         B         C         D         E
1 -0.608212  2.014369  0.300751 -0.657201 -0.277371
2 -1.447415 -0.337868  0.508073  1.199640 -0.995777
3 -0.076001  0.708811  0.477218  1.620855  0.333582

In [24]:
#Print first 4 rows of columns A, B, c
print(dataframe[0:4][['A','B','C']])

          A         B         C
0  1.199257  1.668821  0.892761
1 -0.608212  2.014369  0.300751
2 -1.447415 -0.337868  0.508073
3 -0.076001  0.708811  0.477218

In [25]:
print(dataframe[['A', 'B']].head())

          A         B
0  1.199257  1.668821
1 -0.608212  2.014369
2 -1.447415 -0.337868
3 -0.076001  0.708811
4  1.101881 -2.734863

In [27]:
#loc, iloc & ix
df = pd.DataFrame({'A' : [4,5,6,7],
                   'B' : [10,20,30,40],
                   'C' : [100,50,-30,-50]})
df.index = ['aa', 'aa', 'bb', 'cc']
print(df)

    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30
cc  7  40  -50

In [28]:
# label based indexing. 
# loc[label of the row as a list , label of the column as a list]
print(df.loc['aa'])

#to print the rows indexed as aa and bb
print(df.loc[['aa','bb']])

    A   B    C
aa  4  10  100
aa  5  20   50
    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30

In [29]:
print(df.loc['aa', ['A', 'B']])

    A   B
aa  4  10
aa  5  20

In [30]:
# positional indexing
print(df.iloc[0:3])

    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30

In [31]:
print(df.iloc[2, [0, 1]])

A     6
B    30
Name: bb, dtype: int64

In [32]:
 df.ix[1, 'A']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

5

In [33]:
print(df.ix['aa', :3])

    A   B    C
aa  4  10  100
aa  5  20   50

In [ ]:
print(dataframe)

In [34]:
#print 1,3,5,7 rows of columns A, B and D
print(dataframe.ix[[1,3,5,7],['A','B','D']])

          A         B         D
1 -0.608212  2.014369 -0.657201
3 -0.076001  0.708811  1.620855
5 -1.000502 -2.023603 -0.976284
7 -1.630138  1.087060 -0.186411

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [35]:
df['A']

aa    4
aa    5
bb    6
cc    7
Name: A, dtype: int64

In [36]:
# Fetch A and B columns of the df for all A values >= 5
df[df.A>=5][['A','B']] # or df[df[A]>=5][['A','B']]

    A   B
aa  5  20
bb  6  30
cc  7  40

In [37]:
# Print all a vlaues and B Values for which A>=5 and B>20
df[(df.A>=5) & (df.B>20)][['A','B']] # or df[df[A]>=5][['A','B']]

    A   B
bb  6  30
cc  7  40

In [ ]:
# merging datasets

In [38]:
df1  = pd.DataFrame({'key': ['a', 'b','e','f'], 'val1': [1, 2,9,10]})
df2 = pd.DataFrame({'key': ['a', 'b','c','d'], 'val2': [4, 5,6,7]})

print("df1: ")
print(df1)

print("df 2")
print(df2)

df1:
  key  val1
0   a     1
1   b     2
2   e     9
3   f    10
df 2
  key  val2
0   a     4
1   b     5
2   c     6
3   d     7

In [39]:
print(pd.merge(df1, df2, on = 'key'))

  key  val1  val2
0   a     1     4
1   b     2     5

In [40]:
pd.merge(df1,df2, left_on='key', right_on='key', how='outer')

  key  val1  val2
0   a   1.0   4.0
1   b   2.0   5.0
2   e   9.0   NaN
3   f  10.0   NaN
4   c   NaN   6.0
5   d   NaN   7.0

In [41]:
pd.merge(df1,df2, left_on='key', right_on='key', how='left')

  key  val1  val2
0   a     1   4.0
1   b     2   5.0
2   e     9   NaN
3   f    10   NaN

In [42]:
pd.merge(df1,df2, left_on='key', right_on='key', how='right')

  key  val1  val2
0   a   1.0     4
1   b   2.0     5
2   c   NaN     6
3   d   NaN     7

In [43]:
pd.concat([df1, df2], axis = 0)

  key  val1  val2
0   a   1.0   NaN
1   b   2.0   NaN
2   e   9.0   NaN
3   f  10.0   NaN
0   a   NaN   4.0
1   b   NaN   5.0
2   c   NaN   6.0
3   d   NaN   7.0

In [44]:
pd.concat([df1, df2], axis = 1)

  key  val1 key  val2
0   a     1   a     4
1   b     2   b     5
2   e     9   c     6
3   f    10   d     7

In [ ]:
# reshaping data : Data wrangling

In [45]:
long_data = pd.DataFrame({'Country': ['IN', 'IN', 'IN', 'SL', 'SL', 'SL'],
                         'Year':[1960, 1970, 1990,1960, 1970, 1990  ],
                         'GDPpC': [83, 114, 375, 143, 183,472]})
print(long_data)

  Country  GDPpC  Year
0      IN     83  1960
1      IN    114  1970
2      IN    375  1990
3      SL    143  1960
4      SL    183  1970
5      SL    472  1990

In [46]:
print(long_data.pivot('Country', 'Year', 'GDPpC'))

Year     1960  1970  1990
Country
IN         83   114   375
SL        143   183   472

In [ ]:
# replacing values.

In [48]:
data = pd.Series([1, -999, 0.5,  0.4])
print(data)

0      1.0
1   -999.0
2      0.5
3      0.4
dtype: float64

In [49]:
data.replace(-999, 0)

0    1.0
1    0.0
2    0.5
3    0.4
dtype: float64

In [50]:
data[ data > -999]

0    1.0
2    0.5
3    0.4
dtype: float64

In [ ]:
# group by demo!

In [51]:
dataframe = pd.DataFrame({'group': ['a', 'a', 'b', 'b'],
                         'value':[12, 10, 3, 6]})
dataframe

  group  value
0     a     12
1     a     10
2     b      3
3     b      6

In [52]:
grouped = dataframe.groupby('group')
print(grouped)

<pandas.core.groupby.DataFrameGroupBy object at 0x0000020BBD9125F8>

In [53]:
print(grouped.mean())

       value
group
a       11.0
b        4.5

In [54]:
print(grouped.sum())

       value
group
a         22
b          9

In [56]:
print(grouped.apply(np.mean))

       value
group
a       11.0
b        4.5

In [ ]:
## apply working on dataframes directly.

In [57]:
dataframe =  pd.DataFrame(np.random.randn(20, 4))
dataframe

           0         1         2         3
0  -2.109371 -1.016475  1.238894  0.084140
1   1.726323  0.894467  1.084397 -0.015426
2   0.263384  0.018401 -0.674319  0.557972
3  -0.961720 -0.155041 -1.860739  0.398356
4   1.215131  1.046687  0.900552  0.488016
5   0.459454 -0.207935 -0.677847 -0.245421
6   0.735795 -0.588969  0.352175 -1.006086
7   1.122580  1.801394  0.750723 -0.612714
8  -0.373756 -0.339705 -0.256802  1.152246
9  -1.066542  0.552025  1.299434 -0.748100
10  0.071929  0.364481 -0.649970  0.598003
11  1.309806  1.775405 -0.306250 -0.265474
12  0.227505  1.364614 -0.880800  2.226822
13  0.846884  0.955145 -0.690233  0.263751
14  1.614539  2.423093  1.234466  0.210085
15 -0.399550 -0.422160 -0.032134 -0.719808
16  0.539338  0.202908 -0.566017 -0.627735
17 -0.202931  0.135110 -1.465995 -0.354147
18 -0.700994 -0.594814 -1.653390  0.318820
19  0.976697 -1.286891 -0.609913  0.409838

In [58]:
#Compute mean of every row
dataframe.apply(np.mean, axis = 1 )

0    -0.450703
1     0.922440
2     0.041360
3    -0.644786
4     0.912597
5    -0.167937
6    -0.126771
7     0.765496
8     0.045496
9     0.009204
10    0.096111
11    0.628372
12    0.734535
13    0.343887
14    1.370546
15   -0.393413
16   -0.112876
17   -0.471991
18   -0.657594
19   -0.127567
dtype: float64

In [59]:
#Copute mean of every column 
dataframe.apply(np.mean, axis = 0)

0    0.264725
1    0.346087
2   -0.173189
3    0.105657
dtype: float64

In [ ]:
## lambda operators.

In [60]:
f = lambda x, y: x + y
f(1, 5)

6

In [62]:
print(dataframe.apply(lambda x : (x - np.mean(x)), axis = 0))

           0         1         2         3
0  -2.374096 -1.362561  1.412082 -0.021517
1   1.461598  0.548380  1.257586 -0.121083
2  -0.001341 -0.327686 -0.501130  0.452315
3  -1.226445 -0.501127 -1.687551  0.292699
4   0.950406  0.700600  1.073741  0.382359
5   0.194729 -0.554022 -0.504659 -0.351078
6   0.471070 -0.935056  0.525363 -1.111743
7   0.857855  1.455307  0.923911 -0.718371
8  -0.638481 -0.685792 -0.083614  1.046590
9  -1.331267  0.205938  1.472623 -0.853757
10 -0.192796  0.018394 -0.476782  0.492346
11  1.045081  1.429318 -0.133062 -0.371131
12 -0.037220  1.018527 -0.707612  2.121165
13  0.582159  0.609058 -0.517045  0.158094
14  1.349814  2.077006  1.407655  0.104428
15 -0.664275 -0.768247  0.141054 -0.825465
16  0.274613 -0.143179 -0.392829 -0.733392
17 -0.467656 -0.210977 -1.292806 -0.459804
18 -0.965719 -0.940901 -1.480202  0.213164
19  0.711972 -1.632978 -0.436724  0.304181